html {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: red;
  width: 100%;
  height: 10%;
  color: black;
  padding: 1rem;
  text-align: center;
}
main {
  display: flex;

  width: 100%;
  height: 70%;
  text-align: center;
}
main > section:first-child {
  width: 25%;
  background-color: lightsalmon;
}

main > section:nth-child(2) {
  width: 50%;
  background-color: yellow;
}

main > section:last-child {
  width: 25%;
  background-color: lightsalmon;
}
footer {
  height: 20%;
  background-color: gold;
  width: 100%;
  text-align: center;
}
