html {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  padding: 15px;
}
.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}
.gallery-item:nth-child(1) {
  grid-column: 1 / span 5;

}
.gallery-item:nth-child(2) {
  grid-column: 6 / span 4 ;
}
