html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.first-img,
.second-img,
.third-img,
.fourth-img {
  background-size: cover;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-img {
  min-height: 400px;
  background-image: url("https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eSUyMGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D");
}

.second-img {
  min-height: 400px;
  background-image: url("https://images.unsplash.com/photo-1616864202566-fbc4c67e2174?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.third-img {
  min-height: 400px;
  background-image: url("https://plus.unsplash.com/premium_photo-1661908853318-893732a14e42?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2l0eSUyMGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D");
}

.fourth-img {
  min-height: 400px;
  background-image: url("https://images.unsplash.com/photo-1543832923-44667a44c804?q=80&w=1044&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.image > div {
  position: relative;
  width: 100%;
}
.main-text,
.secondary-text,
.tertiary-text,
.quaternary-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Verdana", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 0;
}
