html {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.static {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
}
.moving {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  position: fixed; /* so it stays relative to viewport */
  top: 0;
  left: 0;
  animation: roam 10s linear infinite;
}
@keyframes roam {
  0%   { top: 0; left: 0; transform: translate(0, 0); }
  25%  { top: 0; left: calc(100vw - 50px); transform: translate(0, 0); }
  50%  { top: calc(100vh - 50px); left: calc(100vw - 50px); transform: translate(0, 0); }
  75%  { top: calc(100vh - 50px); left: 0; transform: translate(0, 0); }
  100% { top: 0; left: 0; transform: translate(0, 0); }
}
